@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900");
@import url("fontawesome-all.min.css");


:root {
  --main: rgb(49, 49, 49);
  --secondary: white;
}

/* .center{
  margin:0 auto;
  display:block;
} */
/* Box Model Hack */

*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* transition: all .2s linear; */
}


  /* Clear fix hack */
  /* .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  } */
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  html, body {
    /* height: 100%; */
    font-family: "Source Sans Pro", sans-serif;
  }

  html {
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll-padding-top: 6rem; */
  }



  /* a:visited {text-decoration: none; color: black;} */

  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* header */
  
  .header-container {
    /* border: 2px solid red; */
    /* background-color: rgb(202, 180, 149); */

    /* padding: 1em 10em; */
    /* margin: 5rem; */
    background-color: rgb(202, 180, 149);
    /* position: fixed; */
    /* width: 50%; */
    margin: 0 auto;
  }

  
  .header a {
    color: var(--main);
  }

  /* .header-container h1 {
    margin-right: auto;
    font-size: 1.2rem;
  } */

  .navbar {
    /* border: 2px solid red; */
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
  }
  .navbar ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  
  li {
    list-style: none;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
  }

  li > a {
    font-weight: 400;
    /* font-family: monospace; */
    text-transform: uppercase;
  }

  .navbar li a:hover {
    /* font-weight: 100; */
    /* font-size: 1.2rem; */
    color: rgb(169, 150, 125)
  }

  /* home */

	#home {
    background-color: rgb(202, 180, 149);
    /* background-image: url("images/beige-watercolor.jpg"); */
    /* border: 2px solid green; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}

.hero-container {
  text-align: center;
		/* background: url("/images/silver.png");
		background-size: 10rem;
		background-repeat: no-repeat;
		background-position: top center;
    text-align: center;
    animation: fadeIn10s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s; */
	}

.hero-text > p {
  /* border: 2px solid red; */
  /* text-transform: uppercase; */
}

.myname {
  /* border: 2px solid black; */
  padding: 0rem 2rem 1rem 2rem;
    font-size: 10rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex;
    color: var(--secondary);
    letter-spacing: -0.8rem;
    /* animation: fadeIn10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s; */
}

/* @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */
/* .typewriter {
  color: var(--secondary);
} */

/* .typewriter-container {
  align-items: center;
} */
.typewriter {

  color: black;
  font-family: monospace;
  font-size: 0.8rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid rgba(46, 94, 171, 0.5); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .18em; /* Adjust as needed */
  animation: 
    typing 6s steps(100, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: rgb(46, 94, 171, 0.5) }
}

.icons {
  display: flex;
  flex-direction: row;
  list-style: none;

}

.icons li {
  margin: 3em 3em;
}

.icons i {
  color: white;
}

.icons i:hover {
  color: rgb(169, 150, 125);
}

/* 
.arrow {
  color: black;
  opacity: 50%;
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  margin: 0 auto;
} */
.next-section {
  /* background-color: blue; */
  margin-top: 5rem;
  margin-bottom: 2rem;
  /* border: 3px solid purple; */
}

.next-section-span {
  border: 1px solid black;
  padding: 1em 2em;
  color: black;
}

/* about me */
#aboutme {
  height: 100vh;
  /* width: 50%;
  max-width: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* border: 3px solid purple; */
}

.aboutme-container{
  border: 3px solid rgb(202, 180, 149);
  margin-top: 5rem;
  padding: 2rem;
  max-width: 500px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.profile-pic {
  /* border: 2px solid pink; */
  max-width: 50%;
  max-height: 50%;
  /* align-items: flex-start; */
  border-radius: 100%;
  filter: drop-shadow(0 0 0.5rem rgb(152, 128, 100));
}

.aboutme-text > h2 {
  color: rgb(202, 180, 149);
  margin: 2rem;
  font-size: 3rem;
}


/* my projects */
#myprojects {
  height: 100vh;
  /* border: 3px solid green; */
  background-color: rgb(202, 180, 149);
}

.myprojects-container {
  height: 100vh;
  /* border: 2px solid red; */
  /* margin-top: 5rem; */
  padding-top: 5em;
  align-items: center;
}

.text-content {
  text-align: center;

  /* border: 2px solid pink; */
}

.text-content h2 {
  font-size: 3rem;
  padding: 0.5em;
  color: white;
}

.projects-preview {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5em;
  /* align-items: center; */
}

.project {
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
}

.project img {
  width: 75%;
  max-height: 250px;
  max-width: 500px;
  /* filter: drop-shadow(30px 10px 4px #4444dd); */
  filter: drop-shadow(0 0 0.5rem rgb(152, 128, 100));
}

.project span {
  color: white;
}

.next-resume {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
