@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900");
@import url("fontawesome-all.min.css");

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(202, 180, 149);
    font-family: 'Source Sans Pro', sans-serif;
}

/* nav */
.nav-item > a {
    color: black;
    text-transform: uppercase;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.title {
    text-align: center;
    margin: 2rem;
}

/* main */
.name {
    font-size: 10rem;
    letter-spacing: -0.8rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: white;
}



.typewriter-container { display: inline-block; padding: 2rem 0}

.typewriter {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(33),
        cursor .4s step-end infinite alternate;
}


  



  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes cursor {
    50% { border-color: transparent }
  }


.socials-list {
    list-style: none;

}

.socials-list > li {
    margin: 0 2rem;
}

.socials-list > li > a {
    color: white;
}

.about-me-btn {
    margin-top: 2rem;
}



/* about me */
#aboutme {
    padding-top: 1rem;
}
.aboutme-container {
    border: 4px solid rgb(188, 163, 128);
    width: 500px;
    margin: 0 auto 2rem;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.205);
}


/* my projects */
#myprojects {
    border: 2px solid blue;
}
.my-projects-container {
    /* border: 2px solid red; */
    padding: 0 4rem;    
    /* height: 100vh; */
    justify-content: center;
    /* border: 2px solid red; */
}

.card {
    margin: 1rem;
    padding: 0;
}

.card:hover {
    transform: scale(1.04);
    opacity: 0.8;
}

.card-img-top {
    height: 200px;
}
.skill-container {
    /* border: 2px solid black; */
    flex-wrap: wrap;
}

.skill {
    background-color: rgba(203, 202, 202, 0.294);
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    margin: 0.25rem 0.25rem;
}


.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.37);
    margin: 2rem 5rem;
    padding-top: 2rem;
}


@media (max-width: 574px) {
    body {
        background-color: rgb(155, 138, 115);
    }
    header {
        padding: 0 0.5rem;
    }
    .name {
        line-height: 8rem;
    }
    .footer {
        margin: 0.5rem;
    }
    .aboutme-container {
        width: 400px;
    }
    .my-projects-container {
        margin: 0;
    }
}