@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900");
@import url("fontawesome-all.min.css");

* {
    box-sizing: border-box;
}
body {
    background-image: url("./img/bg.jpg");
    background-size: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

/* nav */
.nav-item > a {
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.nav-item > a:hover {
    color: white;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* main */
.home-container > h4 {
    /* border: 2px solid red; */
    padding-top: 6rem;
}

.name {
    font-size: 10rem;
    letter-spacing: -0.8rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: white;
}

.typewriter-container { display: inline-block; padding: 2rem 0}

.typewriter {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(33),
        cursor .4s step-end infinite alternate;
}

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes cursor {
    50% { border-color: transparent }
  }


.socials-list {
    list-style: none;

}

.socials-list > li {
    margin: 0 2rem;
}

.socials-list > li > a {
    color: white;
}

.socials-list > li > a:hover {
    color: rgb(179, 158, 126);
}


.about-me-btn {
    margin-top: 2rem;
}

/* about me */
#aboutme {
    padding-top: 3rem;
}
.aboutme-container {
    /* border: 4px solid rgb(188, 163, 128); */
    border: 4px solid rgba(194, 169, 134, 0.41);
    width: 500px;
    margin: 3rem auto;
    flex-direction: column;
    padding: 1rem 2rem 3rem 2rem;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 8px 6px 5px rgba(0, 0, 0, 0.205);
}

.email-btn {
    color: black;
    text-decoration: none;
    width: 100%;
}

/* my projects */
.my-projects-container {
    /* padding: 0 4rem;     */
    justify-content: center;
    /* border: 2px solid red; */
}

.card {
    margin: 1rem;
    padding: 0;
}

.card:hover {
    transform: scale(1.04);
    opacity: 0.8;
}

.card > a {
    color: black;
    text-decoration: none;
}

.card-img-top {
    height: 200px;
}
.skill-container {
    flex-wrap: wrap;
}

.skill {
    background-color: rgba(203, 202, 202, 0.294);
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    margin: 0.25rem 0.25rem;
}

.projects-btn-container {
    margin: 2rem 0 5rem;
    display: flex;
}
.projects-btn {
    margin: 0 auto;
}
.projects-btn > a {
    color: black;
    text-decoration: none;
}

/* hover */
.btn:hover {
    /* background-color: rgb(179, 158, 126);  */
    background-color: rgba(182, 159, 126, 0.703);
    border: none;
}

a:hover, .btn:hover {
    cursor: crosshair;
}

/* footer */
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.37);
    margin: 2rem 4rem;
    padding-top: 2rem;
}

.heart {
    font-size: 0.8rem;
}

@media (min-width: 1100px) {
    #home, #aboutme {
        min-height: 100vh;
    }
}
@media (max-width: 574px) {
    header {
        padding: 0 1rem;
    }
    .nav-pills {
        --bs-nav-link-padding-x: 0.45rem;
    }
    .name {
        line-height: 6.45rem;
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
    }
    .footer {
        margin: 1rem;
    }
    .aboutme-container {
        width: 350px;
    }
    .profile-pic {
        height: 200px;
        width: 200px;
    }
    .my-projects-container {
        margin: 0;
    }
    .home-container > h4 {
        padding-top: 0;
    }
}
